.work {
  background-color: $primary-color;

  &-container {
    padding-bottom: 150px;
  }
  &-title {
    font-size: 25px;
    font-weight: bold;
    color: white;
    line-height: 1.7;
    margin-bottom: 65px;
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-item {
    width: calc(33.3333% - 21px);
    padding: 64px 37px;
    background-color: #1c140f;
    border-radius: 10px;
    .btn {
      font-size: 14px;
      font-weight: 300;
      color: white;
      line-height: 1.8;
      padding: 4px 16px;
      display: inline-block;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    &-title {
      font-size: 20px;
      font-weight: 500;
      color: white;
      margin-bottom: 16px;
      line-height: 1.7;
    }
    &-desc {
      color: white;
      line-height: 1.8;
      font-size: 14px;
      font-weight: 300;
    }
  }
}
.purple {
  background-color: #2c1226;
}
.brown {
  background-color: #31190d;
}
.green {
  background-color: #1a2a1d;
}
