.subscribe {
  background-color: $primary-color;
  &-container {
    margin-top: 105px;
  }
  &-title {
    font-size: 30px;
    color: white;
    font-weight: bold;
    line-height: 1.7;
  }
  &-desc {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: white;
    max-width: 545px;
    line-height: 1.8;
    margin-bottom: 55px;
  }
  &-content {
    padding: 40px 55px;
    background-color: #1c140f;
    @include flexBox(center, space-between);
    border-radius: 10px;
    margin-bottom: 165px;
    &-left {
      width: calc(55% - 10px);
    }
    &-right {
      position: relative;
      width: calc(40% - 10px);
    }
    &-title {
      color: white;
      font-size: 30px;
      margin-bottom: 10px;
      line-height: 1.7;
    }
    &-desc {
      display: inline-block;
      color: white;
      font-size: 16px;
      max-width: 500px;
      line-height: 1.8;
    }
    &-input {
      border-radius: 10px;
      border: none;
      outline: none;
      font-size: 16px;
      line-height: 1.8;
      width: 100%;
      padding: 10px 130px 10px 25px;
    }
    &-btn {
      width: 25%;
      position: absolute;
      border: none;
      border-radius: 10px;
      background-color: $secondary-color;
      color: white;
      font-size: 16px;
      padding: 8px 10px;
      top: 50%;
      transform: translate(-110%, -50%);
    }
  }
}
